@-ms-viewport {
    width: 480px;
    height: 800px;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  background-color: black;
}

#restartgame {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    z-index: 1;
    visibility: hidden;

    transition-duration: 5s;
    transition-property: opacity;
}

#restartgame.noshow {
    visibility: visible;
    opacity: .5;
}

canvas {
    position: fixed;
    z-index: 0;
}

* {
  -ms-touch-action: none; /* Disables all pan/zoom behaviors and fire pointer events in JavaScript instead. */
}